.card {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;

}
.countryCardBg{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  background-color: #000;
  padding: 10px;
}
.flagImg{
  float: left;
  width: 60px;
  border-radius: 5px;
}
.countryCardName{
  float: right;
  text-align: right;
  color: #fff!important;
  font-weight: 700!important;
  font-size: 1.2em!important;
  letter-spacing: 1px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: pre;
}
.countryImg{
  //margin: 5px;
  //width: 100%;
  //height: 250px;
}
.countryCardOwner{
  font-weight: normal;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(59, 43, 200);
  color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
}
.content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.column{
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 5px;
  //padding-top: 1rem;
  //padding-bottom: 1rem;
}
.listitem{
  display: list-item;
  table-layout: fixed;
  padding: .21428571em 0;
  line-height: 1.14285714em;
  font-weight: 800!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  box-sizing: inherit;
}
.header{
  display: block;
  margin: 0;
  font-weight: 500!important;
  color: #999!important;
  font-size: .9em!important;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: pre;
  box-sizing: inherit;
}
.purchase{
  margin-top: 10px;
  border-top: 1px solid #ccc;
  box-sizing: inherit;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  clear: both;
  a {
    padding: 7px 7px;
    align-items: center;
    font-size: 1em;
    border: 1px solid #ccc;
    border-color: rgba(34,36,38,.15);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: baseline;
    font-weight: 500;
  }
  a:hover,a:visited,a:link{
    text-decoration: none;
    color: #000;
  }
}